<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.40.0" targetFramework="net461" />
  <package id="FakeItEasy" version="1.25.3" targetFramework="net461" />
  <package id="Fixie" version="1.0.0.41" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.2.206221351" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net461" />
  <package id="Shouldly" version="2.6.0" targetFramework="net461" />
  <package id="structuremap" version="3.1.7.350" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net461" />
</packages>